{% extends 'base/quan_ly.html' %}
{% block content %}
{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet">

<h2>Thêm định dạng phim mới</h2>

<form method="POST" class="custom-form">
    {% csrf_token %}
    
    <div class="form-group">
        {{ form.as_p }}
    </div>
    
    <button type="submit" class="btn btn-primary">Thêm định dạng phim</button>
    <a href="{% url 'danh_sach_dinh_dang_phim' %}" class="btn btn-secondary">Quay lại danh sách định dạng phim</a>

</form>


{% endblock %}
